@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-familly: "Alata";
  font-style: "normal";
  font-weight: "400";
  src: url("./assets/fonts/Alata-Regular.ttf");
}

@font-face {
  font-familly: "RedHat";
  font-style: "normal";
  font-weight: "400";
  src: url("./assets/fonts/RedHatText-Regular.ttf");
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
